<header>
  <h1>Meu perfil</h1>
</header>
<div id="container">
  <% if @profile.nil? %>
    <h3>Nenhum perfil cadastrado</h3><br>
      <h3>Para comprar ou vender produtos é necessario completar o cadastro</h3>
      <%= link_to 'Completar cadastro', new_profile_path %>
 
  <% else %>
  <div id="description">
    <h3>Agora você já pode cadastrar seus produtos na Loja</h3>
    <%= render @profile%>
    <%= link_to 'Editar dados', edit_profile_path(@profile) %>
    </div>
  <% end %>
</div>
<footer>
  <%= link_to 'Voltar', root_path %>
</footer>