<h1>Preencha o formulario para anunciar</h1>

<%= render partial: 'form', locals: {product: @product} %>

<%= link_to 'Ir para loja', products_path %>
<%= link_to 'Voltar para meus anuncios', my_products_path %>